<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Food Entry</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/dashboard">
            <img th:src="@{/images/navbarlogo.png}" alt="Logo" width="200">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insert">Insert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/diary">Diary</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5 py-5">



    <h1 class="mt-5">Update Food Entry</h1>

    <form th:action="@{/admin/entries/{entryId}/update(entryId=${entry.id})}" method="post" class="mt-4">
        <input type="hidden" name="id" th:value="${entry.id}" />
        <input type="hidden" name="user" th:value="${entry.user.id}" />
        <input type="hidden" name="createdAt" th:value="${entry.createdAt}" />

        <div class="form-group">
            <label for="name">Food Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${entry.name}" required>
        </div>

        <div class="form-group">
            <label for="cals">Calories</label>
            <input type="number" class="form-control" id="cals" name="cals" th:value="${entry.cals}" required>
        </div>

        <div class="form-group">
            <label for="price">Price ($)</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" th:value="${entry.price}" required>
        </div>

            <button type="submit" class="btn btn-primary">Update Entry</button>
        <a th:href="@{/admin/users/{userId}/entries(userId=${entry.user.id})}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>